@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400italic|Exo+2|Play|Orbitron|Armata|Ubuntu);
/* line 45, ../sass/_mixins.scss */
button.custom, .button.custom {
  background-color: #3ADB3A;
  border-color: #22bb22;
  color: #FFFFFF;
}

/* line 49, ../sass/_mixins.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #22bb22;
}

/* line 51, ../sass/_mixins.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: #FFFFFF;
}

/* line 19, ../sass/screen.scss */
h2 {
  font-family: "Nexa Bold", sans-serif;
}

/* line 22, ../sass/screen.scss */
button {
  font-family: "Nexa Light", sans-serif !important;
}

/* line 25, ../sass/screen.scss */
h3, h4 {
  font-family: "Nexa Bold", sans-serif;
}

/* line 28, ../sass/screen.scss */
p {
  font-family: "Nexa Light", sans-serif !important;
  font-weight: 300;
}

/* line 32, ../sass/screen.scss */
.gap {
  width: 80%;
  margin: 25px auto 25px;
  border-bottom: 1px solid transparent;
}

/* line 35, ../sass/screen.scss */
.gap-b {
  width: 80%;
  margin: 25px auto 25px;
  border-bottom: 1px solid #9bccff;
}

/* line 38, ../sass/screen.scss */
.gap-m {
  width: 80%;
  margin: 7px auto 7px;
  border-bottom: 1px solid transparent;
}

/* line 41, ../sass/screen.scss */
.gap-l {
  width: 80%;
  margin: 75px auto 75px;
  border-bottom: 1px solid transparent;
}

/* line 44, ../sass/screen.scss */
.contain {
  padding: 25px 15px 0px;
}

/* line 47, ../sass/screen.scss */
.inline {
  margin: .5em 0 !important;
  font-size: 0.8em;
}
/* line 50, ../sass/screen.scss */
.inline li {
  display: inline-block;
  padding-right: 15px;
}
/* line 53, ../sass/screen.scss */
.inline li a {
  display: block;
}

/* line 58, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 62, ../sass/screen.scss */
button.custom, .button.custom {
  background-color: #586682;
  border-color: #00185b;
  color: #FFFFFF;
}

/* line 66, ../sass/screen.scss */
button.custom:hover, button.custom:focus, .button.custom:hover, .button.custom:focus {
  background-color: #586682;
}

/* line 68, ../sass/screen.scss */
button.custom:hover, button.custom:focus, .button.custom:hover, .button.custom:focus {
  color: #ccc;
}

/* line 71, ../sass/screen.scss */
button.custom-1, .button.custom-1 {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  margin: 0 !important;
  color: #9bccff !important;
}

/* line 76, ../sass/screen.scss */
button.custom-1:hover, button.custom-1:focus, .button.custom-1:hover, .button.custom-1:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: #4B7CBF !important;
}

/* line 86, ../sass/screen.scss */
.wrapper {
  position: relative;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 91, ../sass/screen.scss */
.top-bar {
  background: #4B7CBF;
  padding-right: 125px;
}
/* line 95, ../sass/screen.scss */
.top-bar [data-magellan-expedition] {
  background: #5a5a5a;
}
/* line 97, ../sass/screen.scss */
.top-bar [data-magellan-expedition] a {
  color: white;
  font-family: "Nexa Light", sans-serif;
}
/* line 102, ../sass/screen.scss */
.top-bar [data-magellan-expedition], .top-bar [data-magellan-expedition-clone] {
  background: #4B7CBF;
  padding-right: 125px;
}
/* line 106, ../sass/screen.scss */
.top-bar .sub-nav dt.active a, .top-bar .sub-nav dd.active a, .top-bar .sub-nav li.active a {
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: transparent;
}
@media screen and (max-width: 640px) {
  /* line 91, ../sass/screen.scss */
  .top-bar {
    display: none;
    visibility: hidden;
  }
}

/* line 119, ../sass/screen.scss */
.image-background {
  background: url(../img/chess.jpg) center fixed;
  text-align: center;
}
/* line 122, ../sass/screen.scss */
.image-background .background {
  background-color: transparent;
}
/* line 126, ../sass/screen.scss */
.image-background .the-title {
  padding: 75px;
}
/* line 129, ../sass/screen.scss */
.image-background .the-title h4 {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 137, ../sass/screen.scss */
#intro {
  position: relative;
  max-height: 700px;
  min-height: 650px;
  overflow: hidden;
}
/* line 142, ../sass/screen.scss */
#intro img.chess {
  position: absolute;
  height: 650px;
  min-width: 100%;
}
@media screen and (max-width: 640px) {
  /* line 142, ../sass/screen.scss */
  #intro img.chess {
    min-height: 650px;
  }
}
/* line 151, ../sass/screen.scss */
#intro .home {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 55%;
  background-color: rgba(47, 47, 47, 0.5);
  padding: 100px 50px 250px;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
@media screen and (max-width: 640px) {
  /* line 151, ../sass/screen.scss */
  #intro .home {
    left: 20%;
    background-color: rgba(47, 47, 47, 0.8);
  }
}
/* line 167, ../sass/screen.scss */
#intro .home .head-section {
  margin-left: -40px;
}
/* line 170, ../sass/screen.scss */
#intro .home .head-section h1, #intro .home .head-section h2, #intro .home .head-section h3, #intro .home .head-section li {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
  color: #ccc;
  font-family: "Nexa Bold", sans-serif;
}
/* line 180, ../sass/screen.scss */
#intro .home .head-section .nav-home ul {
  list-style: none;
  font-size: 1.3em;
  padding-top: 35px;
}
/* line 185, ../sass/screen.scss */
#intro .home .head-section .nav-home ul li {
  padding: 2px 5px;
  margin: 15px 0 0 -65px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-family: "Nexa Light", sans-serif;
}
/* line 192, ../sass/screen.scss */
#intro .home .head-section .nav-home ul li a {
  color: #5a5a5a;
  transition: all 0.5s;
}
/* line 197, ../sass/screen.scss */
#intro .home .head-section .nav-home ul li i {
  margin: 0 15px;
  color: #5a5a5a;
  transition: all 0.5s;
}
/* line 205, ../sass/screen.scss */
#intro .home .head-section .nav-home ul li:hover a {
  padding-left: 15px;
  transition: all 0.5s;
}
/* line 210, ../sass/screen.scss */
#intro .home .head-section .nav-home ul li:hover i {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Safari */
  transform: rotate(360deg);
  transition: all 0.5s;
}
/* line 222, ../sass/screen.scss */
#intro #owl-slider {
  padding-top: 50px;
}
@media screen and (max-width: 640px) {
  /* line 222, ../sass/screen.scss */
  #intro #owl-slider {
    display: none;
    visibility: hidden;
  }
}

/* line 231, ../sass/screen.scss */
.title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px 0;
  width: 400px;
  margin: 0 auto;
  border: 1px dotted #fff;
}

/* line 239, ../sass/screen.scss */
.title-a {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 0;
  margin: 50px 0 !important;
  margin: 0 auto;
  border: 1px dotted #fff;
}

/* line 248, ../sass/screen.scss */
#about li i {
  color: #586682;
}

/* line 254, ../sass/screen.scss */
.process-about {
  text-align: center;
}
/* line 256, ../sass/screen.scss */
.process-about .background {
  background: rgba(255, 255, 255, 0.3);
}
/* line 259, ../sass/screen.scss */
.process-about h1 {
  font-size: 4em;
  width: 90px;
  margin: 0 auto 15px;
  border-radius: 500px;
  color: #586682;
  transition: all 0.2s;
}
@media screen and (max-width: 640px) {
  /* line 259, ../sass/screen.scss */
  .process-about h1 {
    font-size: 3em;
  }
}
/* line 270, ../sass/screen.scss */
.process-about .wow {
  background-color: rgba(47, 47, 47, 0.5);
  padding: 25px 0;
  margin-left: 2%;
  width: 23%;
  min-height: 300px;
  border: 1px solid #586682;
  font-size: .8em;
  color: #fff;
}
/* line 279, ../sass/screen.scss */
.process-about .wow h4 {
  color: #fff;
}
@media screen and (max-width: 640px) {
  /* line 270, ../sass/screen.scss */
  .process-about .wow {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 25px;
  }
}
/* line 289, ../sass/screen.scss */
.process-about .wow:hover {
  background-color: rgba(47, 47, 47, 0.8);
}
/* line 291, ../sass/screen.scss */
.process-about .wow:hover h1 {
  font-size: 2.8em;
  border: 2px solid #586682;
  padding: 15px;
  transition: all 0.2s;
}

/* line 300, ../sass/screen.scss */
#services {
  text-align: center;
}
@media screen and (max-width: 640px) {
  /* line 304, ../sass/screen.scss */
  #services img {
    display: none;
    visibility: hidden;
  }
}
/* line 310, ../sass/screen.scss */
#services .services img {
  margin-top: 3em;
}
/* line 315, ../sass/screen.scss */
#services a {
  color: #5a5a5a;
}
/* line 319, ../sass/screen.scss */
#services .left {
  text-align: right;
  padding-right: 2em;
}
@media screen and (max-width: 640px) {
  /* line 319, ../sass/screen.scss */
  #services .left {
    text-align: center;
    padding: 0;
  }
}
/* line 326, ../sass/screen.scss */
#services .left div {
  border-right: 1px solid #586682;
  margin-bottom: 25px;
  margin-right: -20px;
  padding-right: 20px;
  transition: all 1s;
}
@media screen and (max-width: 640px) {
  /* line 326, ../sass/screen.scss */
  #services .left div {
    border-bottom: 1px solid #586682;
  }
}
/* line 337, ../sass/screen.scss */
#services .left div:hover {
  border-right: 3px solid #586682;
}
/* line 338, ../sass/screen.scss */
#services .left div:hover h4, #services .left div:hover p {
  color: #3f4d69;
  transition: all 0.3s;
}
/* line 343, ../sass/screen.scss */
#services .right {
  text-align: left;
  padding-left: 2em;
}
@media screen and (max-width: 640px) {
  /* line 343, ../sass/screen.scss */
  #services .right {
    text-align: center;
    padding: 0;
  }
}
/* line 350, ../sass/screen.scss */
#services .right div {
  border-left: 1px solid #586682;
  margin-left: -20px;
  padding-left: 20px;
  margin-bottom: 25px;
  transition: all 0.3s;
}
@media screen and (max-width: 640px) {
  /* line 350, ../sass/screen.scss */
  #services .right div {
    border-bottom: 1px solid #586682;
  }
}
/* line 361, ../sass/screen.scss */
#services .right div:hover {
  border-left: 3px solid #586682;
}
/* line 362, ../sass/screen.scss */
#services .right div:hover h4, #services .right div:hover p {
  color: #3f4d69;
  transition: all 0.3s;
}
/* line 367, ../sass/screen.scss */
#services .process {
  text-align: center;
  background-color: #eee;
  padding: 75px 5px;
}
/* line 372, ../sass/screen.scss */
#services .process .step {
  background-color: #fff;
  width: 30%;
  float: left;
  margin-left: 2rem;
  padding: 5px;
  box-shadow: 0px 2px 2px #ccc;
  transition: all 0.5s;
}
@media screen and (max-width: 640px) {
  /* line 372, ../sass/screen.scss */
  #services .process .step {
    width: 96%;
    margin-left: .5rem;
    margin-bottom: 2rem;
  }
}
/* line 387, ../sass/screen.scss */
#services .process .step img, #services .process .step h3, #services .process .step p {
  margin-top: 20px;
}
/* line 391, ../sass/screen.scss */
#services .process .step:hover {
  border-left: 1px solid #586682;
  border-right: 1px solid #586682;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.5s;
}
/* line 398, ../sass/screen.scss */
#services .process .step:hover .icon {
  transition: all 0.5s;
}

/* line 406, ../sass/screen.scss */
#portfolio {
  padding-bottom: 0;
}
/* line 408, ../sass/screen.scss */
#portfolio h1, #portfolio h4 {
  text-align: center;
}

/* line 412, ../sass/screen.scss */
#filters {
  text-align: center;
}

/* line 415, ../sass/screen.scss */
#filters > li {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  transition: all .3s ease;
}

/* line 424, ../sass/screen.scss */
#filters > li:hover,
#filters > li.active {
  color: #caac5e;
}

/* line 428, ../sass/screen.scss */
#filters > li:after {
  content: '·';
  position: absolute;
  left: 100%;
  color: #535353;
}

/* line 434, ../sass/screen.scss */
#filters > li:last-child:after {
  content: none;
}

/* line 437, ../sass/screen.scss */
#works-list {
  margin-top: 50px;
}

/* line 440, ../sass/screen.scss */
#works-list li {
  float: left;
  width: 25%;
  overflow: hidden !important;
  padding: 2px;
  display: none;
  opacity: 0;
  position: relative;
}
@media screen and (max-width: 640px) {
  /* line 440, ../sass/screen.scss */
  #works-list li {
    width: 50%;
  }
}

/* line 453, ../sass/screen.scss */
#works-list li:hover img {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 458, ../sass/screen.scss */
#works-list li:hover .button {
  transform: translateY(20%);
  transition: all .3s ease;
}

/* line 465, ../sass/screen.scss */
#works-list li:hover .text-holder {
  opacity: 1;
}

/* line 468, ../sass/screen.scss */
#works-list li:hover .text-holder .text-middle {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 473, ../sass/screen.scss */
#works-list li img {
  width: 100%;
  transition: all .3s ease;
  height: 100%;
}

/* line 478, ../sass/screen.scss */
#works-list li a:hover {
  background-color: transparent;
}

/* line 481, ../sass/screen.scss */
#works-list li .button {
  position: absolute;
  bottom: 0px;
  left: 38%;
  transform: translateY(200%);
  transition: all .3s ease;
}

/* line 489, ../sass/screen.scss */
#clients h3 {
  text-align: center;
}

/* line 495, ../sass/screen.scss */
#contact h3 {
  text-align: center;
}
/* line 498, ../sass/screen.scss */
#contact .fadeInRight {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  margin-right: 3em;
  box-shadow: 1px 1px 1px #9bccff, -1px -1px 1px #9bccff;
}
/* line 505, ../sass/screen.scss */
#contact .fadeInRight .gap-b {
  width: 80%;
  margin: 25px auto 25px;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 640px) {
  /* line 498, ../sass/screen.scss */
  #contact .fadeInRight {
    margin-right: 2.5em;
    width: 86%;
  }
}
/* line 514, ../sass/screen.scss */
#contact .fadeInRight:hover, #contact .form:hover {
  box-shadow: 1px 1px 5px #ccc, -1px -1px 5px #ccc;
}
/* line 516, ../sass/screen.scss */
#contact .fadeInRight:hover input, #contact .fadeInRight:hover textarea, #contact .fadeInRight:hover .custom-1, #contact .form:hover input, #contact .form:hover textarea, #contact .form:hover .custom-1 {
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 520, ../sass/screen.scss */
#contact .form {
  margin-left: 2em;
}
@media screen and (max-width: 640px) {
  /* line 520, ../sass/screen.scss */
  #contact .form {
    margin-right: 1.5em;
    margin-bottom: 3em;
  }
}
/* line 526, ../sass/screen.scss */
#contact .form .custom-1 {
  color: #fff;
}
/* line 529, ../sass/screen.scss */
#contact .form input {
  width: 50% !important;
  margin: 0;
  height: 80px;
  border: #515151 1px solid;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
/* line 538, ../sass/screen.scss */
#contact .form textarea {
  margin: 0;
  border: #515151 1px solid;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
/* line 545, ../sass/screen.scss */
#contact .form *::-webkit-input-placeholder {
  color: #000;
}
/* line 548, ../sass/screen.scss */
#contact .form *:-moz-placeholder {
  /* FF 4-18 */
  color: #000;
}
/* line 552, ../sass/screen.scss */
#contact .form *::-moz-placeholder {
  /* FF 19+ */
  color: #000;
}
/* line 556, ../sass/screen.scss */
#contact .form *:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
/* line 561, ../sass/screen.scss */
#contact .contact-map {
  min-width: 100%;
  height: 400px;
}

/* line 566, ../sass/screen.scss */
footer {
  background-color: #1F1C46;
  color: #ccc;
}
/* line 569, ../sass/screen.scss */
footer h4 {
  color: #ccc;
}
/* line 572, ../sass/screen.scss */
footer ul {
  list-style: none;
}
/* line 574, ../sass/screen.scss */
footer ul li {
  border-bottom: 1px solid #4B7CBF;
  margin: 0 1em 0 .3em;
  padding: .3em 3em .3em 0;
}
/* line 579, ../sass/screen.scss */
footer ul li a {
  color: #ccc;
}
/* line 585, ../sass/screen.scss */
footer .logo {
  font-family: "Nexa Bold", sans-serif;
}
/* line 589, ../sass/screen.scss */
footer .social li {
  border-bottom: none !important;
  padding: .6em 3em .6em 0;
}
@media screen and (max-width: 640px) {
  /* line 594, ../sass/screen.scss */
  footer .social ul {
    display: inline-flex;
  }
}

/* line 603, ../sass/screen.scss */
.ttc {
  position: fixed;
  z-index: 999;
  bottom: -10px;
  left: 5px;
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  /* line 603, ../sass/screen.scss */
  .ttc {
    visibility: visible;
  }
}

/* line 615, ../sass/screen.scss */
.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 20% !important;
}
/* line 621, ../sass/screen.scss */
.menu .items {
  background: rgba(47, 47, 47, 0.8);
  padding: 5px 3px;
}
/* line 626, ../sass/screen.scss */
.menu ul {
  list-style: none;
}
/* line 629, ../sass/screen.scss */
.menu #m-home.items {
  transform: translateY(1100%);
  -webkit-animation: lightSpeedOut 0.5s running;
  transition: transform 2.5s ease-in-out;
}
/* line 634, ../sass/screen.scss */
.menu #m-about.items {
  transform: translateY(1100%);
  -webkit-animation: lightSpeedOut 1s running;
  transition: transform 2s ease-in-out;
}
/* line 639, ../sass/screen.scss */
.menu #m-services.items {
  transform: translateY(1100%);
  -webkit-animation: lightSpeedOut  1.5s running;
  transition: transform 1.5s ease-in-out;
}
/* line 644, ../sass/screen.scss */
.menu #m-port.items {
  transform: translateY(1100%);
  -webkit-animation: lightSpeedOut  2s running;
  transition: transform 1.2s ease-in-out;
}
/* line 649, ../sass/screen.scss */
.menu #m-contact.items {
  transform: translateY(1100%);
  -webkit-animation: lightSpeedOut  2.5s running;
  transition: transform 1s ease-in-out;
}
/* line 655, ../sass/screen.scss */
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  transform: skew(9deg, -37deg) !important;
  -webkit-transform: skew(9deg, -37deg) !important;
}
/* line 663, ../sass/screen.scss */
.menu ul li a:hover {
  color: goldenrod;
  text-decoration: none;
  background: whitesmoke;
  padding: 10px;
  -webkit-animation: tada  0.5s running;
}
/* line 672, ../sass/screen.scss */
.menu #m-home {
  position: fixed;
  bottom: 0px;
  right: 185px;
}
/* line 677, ../sass/screen.scss */
.menu #m-about {
  position: fixed;
  bottom: 50px;
  right: 160px;
}
/* line 682, ../sass/screen.scss */
.menu #m-services {
  position: fixed;
  bottom: 100px;
  right: 105px;
}
/* line 688, ../sass/screen.scss */
.menu #m-port {
  position: fixed;
  bottom: 150px;
  right: 60px;
}
/* line 694, ../sass/screen.scss */
.menu #m-contact {
  position: fixed;
  bottom: 200px;
  right: -10px;
}
/* line 699, ../sass/screen.scss */
.menu #m-hide {
  display: none;
}
/* line 703, ../sass/screen.scss */
.menu #m-home.showMe {
  transform: translateY(0) !important;
  -webkit-animation: lightSpeedIn 0.5s running;
  transition: transform 0.5s ease;
}
/* line 709, ../sass/screen.scss */
.menu #m-about.showMe {
  transform: translateY(0) !important;
  -webkit-animation: lightSpeedIn 0.6s running;
  transition: transform 0.5s ease;
}
/* line 715, ../sass/screen.scss */
.menu #m-services.showMe {
  transform: translateY(0) !important;
  -webkit-animation: lightSpeedIn 0.7s running;
  transition: transform 0.5s ease;
}
/* line 721, ../sass/screen.scss */
.menu #m-port.showMe {
  transform: translateY(0) !important;
  -webkit-animation: lightSpeedIn 0.8s running;
  transition: transform 0.5s ease;
}
/* line 727, ../sass/screen.scss */
.menu #m-contact.showMe {
  transform: translateY(0) !important;
  -webkit-animation: lightSpeedIn 0.9s running;
  transition: transform 0.5s ease;
}
/* line 733, ../sass/screen.scss */
.menu .rot {
  -webkit-animation: rotate 2s alternate;
  background: darkgoldenrod;
}
/* line 737, ../sass/screen.scss */
.menu button {
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  /* line 737, ../sass/screen.scss */
  .menu button {
    visibility: visible !important;
  }
}
